{% extends "network/layout.html" %}
{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'network/profile.js' %}"></script>
{% endblock %}
{% block body %}
    <!-- TODO -->
    <!-- Return context from views.py -->
    Profile
    {% if is_following %}
    <div id="unfollow">
        <button id="unfollowButton" name="{{ post.user.username }}">Unfollow</button>
    </div>
    <div id="follow" hidden>
        <button id="followButton" name="{{ post.user.username }}">Follow</button>
    </div>
    {% else %}
    <div id="unfollow" hidden>
        <button id="unfollowButton" name="{{ post.user.username }}">Unfollow</button>
    </div>
    <div id="follow">
        <button id="followButton" name="{{ post.user.username }}">Follow</button>
    </div>
    {% endif %}
    <div id="user-posts-view">
        {% for post in posts %}
            <div>
                <div>{{ post.user.username }}</div>
                <div>{{ post.datetime }}</div> 
                <div>{{ post.content}}</div>
            </div>
        {% endfor %}
    </div>
    {{ is_following }}
{% endblock %}